.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 2;
}
.about-text p {
  margin-bottom: 20px;
}

.about-title{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: var(--pixel-red);
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}