  button {
      font-family: "Press Start 2P", cursive;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
  }
  
  
  header {
      background-color: rgba(255, 0, 0, 0.85);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      padding: 15px 0;
      box-shadow: 0 8px 0 rgba(0, 0, 0, 0.5);
  }

  .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
  }



  .logo {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .logo-text {
      color: var(--pixel-light);
      font-size: 1.5rem;
      text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
  }

  .nav-links {
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .nav-links button {
      color: var(--pixel-light);
      font-size: .8rem;
      transition: all 0.3s;
      padding: 0;
  }

  .nav-links button:hover {
      transform: translateY(-3px);
      color: var(--pixel-blue);
  }

  .menu-toggle {
      display: none;
      font-size: 1.5rem;
      color: var(--pixel-light);
  }

  .language-btn img {
      width: 35px;
      height: 35px;
      object-fit: contain;
  }