.skills-section {
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  padding: 40px 0;
}

.skills-mask {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: grab;
}
.skills-mask:active {
  cursor: grabbing;
}

.skill-scroller {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  align-items: center;
}


.skill-row {
  display: flex;
  flex-wrap: nowrap;
  animation-play-state: running;
  pointer-events: auto;
}

.skill-item {
  flex: 0 0 auto;
  min-width: 100px;
  margin: 0 10px;
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.skill-icon img.pixelate {
  width: 64px;
  height: 64px;
  object-fit: contain;
  image-rendering: pixelated;
}

.skill-item:hover .skill-icon {
  transform: scale(1.05);
}

.skill-scroller.dragging {
  cursor: grabbing;
}
